WEB_BASE_URL=http://localhost:5173
ADMIN_BASE_URL=http://localhost:5174
API_BASE_URL=http://localhost:3000
USER_EMAIL=user-email@example.com
USER_PASSWORD=user-password
ADMIN_EMAIL=admin-email@example.com
ADMIN_PASSWORD=admin-password
